* {
    font-family: Italianno, Arial;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: #e5832f;
}
body {
    width: 100%;
    background-color: #e5832f;
}
.gora {
    background-color: #3d1771;
}
.gora img {
    width: 180px;
    display: block;
    border-radius: 50%;
    border: 1px solid white;
    margin: auto;
}
.nav {
    background-color: #3d1771;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 35px;
    margin: auto;
    display: block;
}
ol li {
    width: 150px;
    margin: auto;
    display: block;
}
ul li {
    width: 150px;
    display: block;
}
ul li a {
    text-decoration: none;
    display: block;
}
ol > li > ul {
    display: none;
}
ol > li:hover > ul {
    display: block;
    position: absolute;
    background-color: #3d1771;
}
ol a {
    display: block;
    border: 1px solid black;
}
ul a {
    border-top: none;
}
.wrapper {
    width: 80%;
    background-color: white;
    margin: auto;
    height: 100%;
    min-height: 500px;
    color: black;
    padding-top: 10px;
}
h1 {
    color: black;
    font-size: 60px;
}
.main {
    color: black;
    font-size: 35px;
    text-align: left;
    width: 100%;
}